<html>

<head>

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ asset('/patterns/css/style.css') }}">

</head>

<body>

{{ render_pattern(siteHeader) }}

{% block body %}

    <p>Body content will go here.</p>

{% endblock %}

</body>

</html>
