<html>

<head>

    <title>Demo</title>

    <link rel="stylesheet" href="{{ asset('/patterns/css/style.css') }}">

</head>

<body>

{% block body %}

    <p>Body content will go here.</p>

{% endblock %}

</body>

</html>
