<ul class="menu{{#cssClasses}} {{cssClasses}}{{/cssClasses}}">
  {{#links}}
    <li class="menu__item"><a href="{{url}}" class="menu__link{{#isCurrent}} menu__item--current{{/isCurrent}}">{{{text}}}</a></li>
  {{/links}}
</ul>
