<section class="hello-world">
  <h1 class="hello-world__heading">Hello world!</h1>
  <p class="hello-world__body">The world today is
    {{#worldName}}<span class="hello-world__world_name hello-world__world_name--{{worldName}}">{{worldName}}</span>{{/worldName}}
    {{^worldName}}<span class="hello-world__world_name">earth</span>{{/worldName}}
  </p>
</section>
